.table-pagination-select {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  select {
    width: fit-content;
  }
  label {
    margin-left: $spacer;
    line-height: cal($spacer, 2);
  }
}

.b-pagination {
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }
  .page-item.active button {
    color: $dark;
    background-color: $white;
    border-color: $border-color;
    box-shadow: inset 0px -3px $primary;
  }
}
